.join-main{
    padding-top: 60px;
    padding-bottom: 100px;
    justify-content: center;
    align-content: center;
}

#join-heading {
    padding-top: 50px;
    padding-bottom: 0;
    text-align: center;
    margin: 0;
}

.join-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 30px;
    align-items: center;
    min-width: 100%;
    overflow-x: auto;
    justify-content: center;
    align-content: center;
}

.topic-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10%;
    height: 10%;
}

.conversation-item {
    /*background: white;*/
    text-align: center;
    margin: 10px 10px;
    transition: transform 300ms ease 100ms;
    border-radius: 30px;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    padding-top: 124px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    flex: 1 0 21%;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.conversation-item-text {
    display: inline-block;


}

.conversation-item:hover {
    transform: scale(1.1) !important;
}

.btn-join{
    text-align: center;
    padding-top: 124px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 300px;
    margin: 10px 10px;
    background: white;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    font-size: 25px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    transition: transform 300ms ease 100ms;
}

.btn-join:hover {
    transform: scale(1.1) !important;
}

/*!*-------------*/
/* 	CREATE */
/*-------------*!*/




.conversation-create{
    padding: 150px 150px;
    text-align: center;
}

.conversation-create h1{
    padding-bottom: 20px;
}

.conversation-create-content{
    width: 100%;

}

.conversation-create-content input {
    width: 30%;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #905a2a;
    border-radius: 4px;
}

.conversation-create-content input[type="submit"] {
    width: 50%;
    background-color: #d2b48c;
    color: white;
    float: right;
}

.conversation-create-content input[type="submit"]:hover {
    background-color: #905a2a;
}

.conversation-create-content input:focus {
    outline: none;
    border-width: 3px;
}

.btn-create-container {
    text-align: center;
}

.btn-create{
    display: inline-block;
    max-width: 200px
}
