@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #777;
  background-color: #ffebcd;
  margin: 0;
  /*padding: 10px;*/
}

.forms {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account {
  padding-top: 100px;
  padding-bottom: 80px;
}
.account h1 {
  text-align: center;
  color: #905a2a;
}
.create {
  padding: 20px;
  width: 47%;
  float: left;
  border-style: solid;
  border-color: #905a2a;
}
.login {
  padding: 20px;
  width: 47%;
  float: right;
  border-style: solid;
  border-color: #905a2a;
}

.account-btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  border:none;
  background-color: #d2b48c;
  color: #fff;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.account-btn:hover {
  background-color: #789d4a;
  transform: scale(1.1);
  color: #fff;
}


/*.create select, .login select*/

.create input, .login button, .login input {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 5px;
  margin-bottom: 10px;
  border: 1px solid #905a2a;
  border-radius: 4px;
}

.create input:focus, .login input:focus {
  outline: none;
  border-width: 3px;
}


