/*!*-------------*/
/* 	Chat page*/
/*-------------*!*/

.chat-page {
  display: grid;
  grid-gap: 10px;
  padding: 50px;
}

.grid-item {
  background-color: #ffebcd;
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

.user-display{
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.message-display{
  grid-area: 1 / 2 / 3 / 4;
  max-height: 480px;
  border-style: solid;
  border-color: #905a2a;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.topic-display{
  grid-area: 2 / 1 / 4 / 2;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.message-form{
  border-style: solid;
  border-color: #905a2a;
  border-radius: 10px;
  height: 120px;
  grid-area: 3 / 2 / 4 / 4;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.message-heading {
  padding-top: 80px;
  padding-bottom: 0;
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.chatBox input {
  width: 50%;
  height: 30px;
}

.chatBox h1 {
  font-size: 20px;
}

#btn{
  width: 150px;
  height: 35px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  background-color: #d2b48c;
  color: #fff;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border: none;
}

#btn:hover {
  background-color: #789d4a;
  transform: scale(1.1);
  color: #fff;
}
