@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #777;
  background-color: #ffebcd;
  margin: 0;
  /*padding: 10px;*/
}
.forms {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account {
  padding-top: 100px;
  padding-bottom: 80px;
}
.account h1 {
  text-align: center;
  color: #905a2a;
}
.create {
  padding: 20px;
  width: 47%;
  float: left;
  border-style: solid;
  border-color: #905a2a;
}
.login {
  padding: 20px;
  width: 47%;
  float: right;
  border-style: solid;
  border-color: #905a2a;
}

/*.create select, .login select*/

.create input, .login input, .account-btn {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 5px;
  margin-bottom: 10px;
  border: 1px solid #905a2a;
  border-radius: 4px;
}
.create input[type="submit"], .login input[type="submit"], .account-btn {
  width: 50%;
  background-color: #d2b48c;
  color: white;
  float: right;
}
.create input[type="submit"]:hover, .login input[type="submit"]:hover, .account-btn:hover {
  background-color: #905a2a;
}
.create input:focus, .login input:focus, .account-btn:focus {
  outline: none;
  border-width: 3px;
}

.admin-btn {
  position: sticky;
  margin: 30px;
  padding: 0 10px;
  border-radius: 30px;
  background: #333;
  float: right;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  color: white;
  font-weight: bold;
}
