/*!*-------------*/
/* 	Landing page*/
/*-------------*!*/

/**{*/
/*  box-sizing: border-box;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

.landing, .about-pear {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 170px 100px;
}

.landing .landing_logo {
  height: 20%;
  width: 20%;
  margin: 0;
  padding: 0;
}

.landing h1 {
  font: bold 60px "lato", sans-serif;
  margin-bottom: 15px;
  color: #414a4f;
}

.landing h3 {
  font: normal 28px "lato", sans-serif;
  margin-bottom: 40px;
  color: #414a4f;
}

.title {
  color: #414a4f;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

.bgImg {
  background-image: url("./img/Img3.jpeg");
  position: relative;
  background-attachment: fixed;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
}

#about {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

/*!*-------------*/
/* 	Button */
/*-------------*!*/

.btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: #d2b48c;
  color: #fff;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  background-color: #789d4a;
  transform: scale(1.1);
  color: #fff;
}



/*!*-------------*/
/* Nav*/
/*-------------*!*/

.Nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  padding: 20px 100px;
}

nav{
  display: flex;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 0 17px;
}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  color: #905a2a;
}

nav a:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #905a2a;
  transition: width 0.4s;
}

nav a:hover:after {
  width: 100%;
  color: lightgray;
}

#nav-logo-text {
  color: #d2b48c;
  font-weight: bold;
  font-size: 35px;
}

/*!*-------------*/
/* Footer*/
/*-------------*!*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 50px 0;
  border: 20px;
}

footer p {
  font-size: 18px;
  color: #fff;
  background-color: #414a4f;
  margin-bottom: 10px;
}

footer #member {
  font-size: 14px;
}
